<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UBrew2 - About Us</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="img/UBrew2-Favicon.ico" />
    <link href="css/all.min.css" rel="stylesheet" />
    <link href="css/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->

<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="img/beer-wall.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="img/UBrew2-Icon-Small.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">About Us</h1>
                                <h6 class="tm-site-description">UBrew2</h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="/" class="tm-nav-link active">Home</a></li>
                                <li class="tm-nav-li"><a href="/about" class="tm-nav-link">About</a></li>
                                {% if user.userId %}
                                <li class="tm-nav-li"><a href="/create/recipe" class="tm-nav-link">Create Recipe</a></li>
                                <li class="tm-nav-li"><a href="/logout" class="tm-nav-link">Logout</a></li>
                                {% else %}
                                <li class="tm-nav-li"><a href="/register" class="tm-nav-link">Register</a></li>
                                <li class="tm-nav-li"><a href="/login" class="tm-nav-link">Login</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">About the UBrew2 Crew</h2>
            </header>

            <div class="tm-container-inner tm-persons">
                <div class="row">
                    <article class="col-lg-6">
                        <figure class="tm-person">
                            <img src="img/about-ns.jpg" alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Nikhil Sriram</h4>
                                <p class="tm-person-about">Technology guru. Student by night. Hero by day. Hero also by night as well</p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                                    <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-6">
                        <figure class="tm-person">
                            <img src="img/about-dl.jpg" alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Durell Lewis</h4>
                                <p class="tm-person-about">Presidential candidate 2024. Dad, husband, beer enthusiast.</p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-6">
                        <figure class="tm-person">
                            <img src="img/about-tm.jpg" alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Thomas Mayer</h4>
                                <p class="tm-person-about">IT Project Management Consultant. Tech Hobbiest. IPA Lover.</p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-6">
                        <figure class="tm-person">
                            <img src="img/about-tw.jpg" alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Tyler Wahl</h4>
                                <p class="tm-person-about">Developer. Technologies. Beer craft master. </p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                                    <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                                    <a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="col-lg-6">
                        <figure class="tm-person">
                            <img src="img/about-mj.jpg" alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Mauricio 'MJ' JImenez</h4>
                                <p class="tm-person-about">Craft beer aficionado. Healthcare technology consultant. Boston University graduate student. Miami resident.</p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                                    <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                                    <a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </main>

        <footer class="tm-footer text-center">
            <p><img src="img/UBrew2-Logo-Big.png" width="500" height="500" alt="" /></p>
            <p>Copyright &copy; 2021 UBrew2 LLC</p>
        </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
</body>

</html>