<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UBrew2</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="../css/templatemo-style.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/ico" href="/img/UBrew2-Favicon.ico" />
</head>

<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="img/home-page.jpg">
                <div id="welcome-message" class="welcome-message">
                    Welcome {{user.userName}}
                </div>
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="/img/UBrew2-Icon-Small.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">UBrew2</h1>
                                <h6 class="tm-site-description">Administrative Dashboard&nbsp;&nbsp; </h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="/" class="tm-nav-link active">Home</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <p class="col-12 text-center">This is the admin Dashboard</p>
            </header>

            <div class="tm-paging-links">
                <nav>
                    <ul>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Recipes</a></li>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link">Users</a></li>
                    </ul>
                </nav>
            </div>

            <!-- Gallery -->
            <div class="row tm-gallery">
                <!-- gallery page Recipes List-->
                <div id="tm-gallery-page-recipes" class="tm-gallery-page">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Style</th>
                            <th>ABV</th>
                            <th>User</th>
                            <th>Link</th>
                            <th>Public</th>
                            <th>Disable Recipe</th>
                        </tr>
                        {% for recipe in recipes %}
                        <tr>
                            <td>{{recipe.id}}</td>
                            <td>{{recipe.Name}}</td>
                            <td data-id="{{recipe.id}}" data-token="{{recipe.token}}" class="recipe-style">{{recipe.styleId}}</td>
                            <td>{{recipe.ABV}}</td>
                            <td>{{recipe.userId}}</td>
                            <td><a href="/recipes/{{recipe.token}}">Link to</a></td>
                            <td>{{recipe.public}}
                            {% if recipe.active %}
                            <td><button class="recipe-disable" data-id="{{recipe.id}}">Disable</button></td>
                            {% else %}
                            <td><button class="recipe-disable" data-id="{{recipe.id}}">Enable</button></td>
                            {% endif%}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- gallery page NEW -->

                <!-- gallery page Users List -->
                <div id="tm-gallery-page-users" class="tm-gallery-page hidden">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Is Admin</th>
                            <th>Rest Password</th>
                            <th>Disable</th>
                        </tr>
                        {% for user in users %}
                        <tr>
                            <td>{{user.userId}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.admin}}</td>
                            <td><button class="reset-password" data-id="{{user.userId}}">reset password</td>
                            <td>
                            {% if user.disabled %}
                            <button class="user-disable" data-id="{{user.userId}}">Enable</a></td>
                            {% else %}
                            <button class="user-disable" data-id="{{user.userId}}">Disable</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- gallery page FAVORITES -->


            </div>
        </main>

        <footer class="tm-footer text-center">
            <p><img src="../img/UBrew2-Logo-Big.png" width="500" height="500" alt="" /></p>
            <p>Copyright &copy; 2021 UBrew2 LLC</p>
        </footer>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/parallax.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/admin-functions.js"></script>
    <script>
        $(document).ready(function() {
            // Handle click on paging links
            $('.tm-paging-link').click(function(e) {
                e.preventDefault();

                var page = $(this).text().toLowerCase();
                $('.tm-gallery-page').addClass('hidden');
                $('#tm-gallery-page-' + page).removeClass('hidden');
                $('.tm-paging-link').removeClass('active');
                $(this).addClass("active");
            });
        });
    </script>
</body>

</html>