<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UBrew2 - Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="../img/UBrew2-Favicon.ico" />
    <link href="../css/all.min.css" rel="stylesheet" />
    <link href="../css/templatemo-style.css" rel="stylesheet" />

</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->

<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder-2">
            <div class="parallax-window-2" data-parallax="scroll" data-image-src="../img/login_header.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title"></h1>
                                <h6 class="tm-site-description"></h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="/" class="tm-nav-link active">Home</a></li>
                                <li class="tm-nav-li"><a href="/about" class="tm-nav-link">About</a></li>
                                {% if user %}
                                <li class="tm-nav-li"><a href="/logout" class="tm-nav-link">Logout</a></li>
                                {% else %}
                                <li class="tm-nav-li"><a href="/login" class="tm-nav-link">Login</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="">
            </header>
            <div class="tm-container-inner">

                <div class="tm-d-flex">


                        <div class="name-box displayElements tm-section" data-token="{{recipe.token}}">
                            <h2>{{recipe.Name}}</h2>
                        </div>
                        <div class="formElements form-group tm-section" style="display:none;">
                            <label for="name">Recipe Name</label>
                            <input id="nameInput" type="text" name="name" class="form-control" placeholder="name" required="" value="{{recipe.Name}}" />
                        </div>

                        <div class="style-box displayElements tm-section" data-styleId="{{recipe.styleId}}">
                            Style:
                            {{recipe.styleName}}
                        </div>

                        <div class="form-group formElements tm-section" style="display:none;">
                            <select id="styleInput" name="style" class="form-control" required="">
                                <option value="{{recipe.styleId}}">{{recipe.styleName}}</option>
                            {% for style in styles %}
                                <option value="{{style.name}}">{{style.name}}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <div class="abv-box displayElements tm-section">
                            <h3>ABV:{{recipe.ABV}}</h3>
                        </div>

                        <div class="form-group formElements tm-section" style="display:none;">
                            <input id="abvInput" type="number" name="abv" class="form-control" placeholder="ABV" required="" min="0" value="{{recipe.ABV}}"/>
                        </div>

                        <div class="og-box displayElements tm-section">
                            <h3>OG:{{recipe.OG}}</h3>
                        </div>
                        <div class="form-group formElements tm-section" style="display:none;">
                            <input id="ogInput" type="number" name="og" class="form-control" placeholder="OG" required="" min="0" value="{{recipe.OG}}"/>
                        </div>

                        <div class="fg-box displayElements tm-section">
                            <h3>FG:{{recipe.FG}}</h3>
                        </div>
                        <div class="form-group formElements tm-section" style="display:none;">
                            <input id="fgInput" type="number" name="lastName" class="form-control" placeholder="FG" required="" min="0" value="{{recipe.FG}}"/>
                        </div>

                        <div class="ibu-box displayElements tm-section">
                            <h3>IBU:{{recipe.IBU}}</h3>
                        </div>

                        <div class="form-group formElements tm-section" style="display:none;">
                            <input id="ibuInput" type="number" name="ibu" class="form-control" placeholder="IBU" required="" min="0" value="{{recipe.IBU}}"/>
                        </div>

                        <div class="instructions-box displayElements tm-section">
                            <p>Instructions:</p>
                            <p>{{recipe.instructions}}</p>
                        </div>

                        <div class="form-group formElements tm-section" style="display:none;">
                            <textarea id="instructionsInput" name="instructions" class="form-control">{{recipe.instructions}}</textarea>
                        </div>

                        <div class="public-box controlBox tm-section">
                        {% if recipe.public %}
                            <input id="publicInput" type="checkbox" name="public" class="form-control" checked disabled/>
                        {% else %}
                            <input id="publicInput" type="checkbox" name="public" class="form-control disabled" />
                        {% endif %}    
                            <label for="public">Public</label>
                        </div>

                        <div class="shareable-box controlBox tm-section">
                        {% if recipe.shareable %}
                            <input id="shareableInput" type="checkbox" name="shareable" class="form-control" checked disabled />
                        {% else %}
                            <input id="shareableInput" type="checkbox" name="shareable" class="form-control disabled" />
                        {% endif %}    
                            <label for="public">Shareable</label>
                        </div>

                        <div class="active-box tm-section">
                        {% if recipe.active %}
                            <input id="activeInput" type="checkbox" name="active" class="form-control" checked disabled/>
                        {% else %}
                            <input id="activeInput" type="checkbox" name="active" class="form-control disabled"/>
                        {% endif %}    
                            <label for="public">Active</label>
                        </div>

                        

                        <div class="form-group formElements tm-section" style="display:none;">
                            <input id="ingredientInput" type="text" name="ingredient" class="form-control" placeholder="Ingredient" required="" />
                            <input id="ingredientqtyInput" type="number" name="ingredientqty" class="form-control" placeholder="Quantity" required="" />
                            <button id="addingredientBtn">add ingredient</button>
                        </div>
                        <ul class = "tm-section" id="saved-ingredients">
                        {% for ingredient in recipe.Ingredients %}
                            <li>
                            <p>{{ingredient.quantity}} - of - {{ingredient.Name}}</p>
                            <button class="del-ingredient formElements" data-key="ingredient.id" style="display:none;">x</button>
                            </li>
                        {% endfor %}
                        </ul>

                        <div class="tm-d-flex tm-section">
                        {% if canUpdate %}
                            <button id="updateBtn" class="tm-btn tm-btn-success tm-btn-right">
					            Update
					          </button>
                            <button id="copyBtn" class="tm-btn tm-btn-success tm-btn-right">
					            Copy Url
					          </button>
                            <button id="saveBtn" class="tm-btn tm-btn-success tm-btn-right" style="display:none;">
					            Save
					          </button>
                        {% else %}
                            <a href="/">
                            <button id="back" class="tm-btn tm-btn-success tm-btn-right">
					            Back
					          </button>
                            </a>
                        {% endif %}
                        </div>
                </div>
            </div>
        </main>

        <footer class="tm-footer text-center">
            <p>Copyright &copy; 2021 UBrew2 LLC</p>
        </footer>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/parallax.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/view-recipe.js"></script>

</body>

</html>